/livescout-backend/.vs
/livescout-backend/livescout-backend/obj
/livescout-backend/livescout-backend/obj/Debug
livescout-backend/livescout-backend/obj/Debug/net8.0/livescout-backend.GeneratedMSBuildEditorConfig.editorconfig
/livescout-backend/livescout-backend/obj
/livescout-backend/livescout-backend/bin
/livescout-backend/livescout-backend/bin
/livescout-backend/.vs
*.cache
*.pdb
livescout-backend/.vs/ProjectEvaluation/livescout-backend.strings.v9.bin
*.bin
livescout-backend/.vs
livescout-backend/livescout-backend/bin
livescout-backend/livescout-backend/obj
livescout-backend/livescout-backend/bin
livescout-backend/livescout-backend/obj
livescout-backend/.vs
